<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>环保监测系统</title>

<link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/login/css/style.css}">
<script type="text/javascript" src="js/jquery.min.js" th:src="@{/login/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/vector.js" th:src="@{/login/js/vector.js}"></script>
<script src="../layuiadmin/layui/layui.js" th:src="@{/layuiadmin/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/fast-helper.js}"></script>
</head>
<body>

<div id="container">
	<div id="output">
		<div class="containerT">
			<h1>用户登录</h1>
			<form class="form" id="entry_form">
				<input type="text" placeholder="用户名" id="entry_name">
				<input type="password" placeholder="密码" id="entry_password">
				<button type="button" id="entry_btn">登录</button>
				<div id="prompt" class="prompt"></div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	layui.use(['layer','form'],function(){
		var form = layui.form;
		
		if (get_cache("userName")!=""||get_cache("userName")!=null||get_cache("userName")!=undefind) {
			$("#entry_name").val(get_cache("userName"));
		}
		
		// 为输入框绑定光标聚焦事件的触发该函数
		$('#entry_name').focus(depart_input_focus_handler);
		function depart_input_focus_handler() {
			$('#entry_name').val("")
			form.render();
		}
		
		//读取缓存
    	function get_cache(key){
    	return localStorage.getItem(key);
    	}
	})
	
    $(function(){
        Victor("container", "output");   //登录背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });
	
	
	
    
    $('#entry_btn').on('click', function(){
    	var userName = $('#entry_name').val();
    	var password = $('#entry_password').val();
    	var param = {
    			userName:userName,
    			password:password
    	}
    	
    	$.post('login/verify_password', param, function(result){
    		var msg = result.msg;
    		if (result.success){
    			location.reload();
    		}else {
    			alert_no(msg);
    		}
    	});
   	
    });
</script>
</body>
</html>