<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.env.web.mapper.MonitoringDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.env.web.entity.MonitoringData">
        <id column="id" property="id" />
        <result column="site_id" property="siteId" />
        <result column="yinzi_id" property="yinziId" />
        <result column="yinzi_value" property="yinziValue" />
        <result column="serial_num" property="serialNum" />
        <result column="create_at" property="createAt" />
        <result column="state" property="state" />
    </resultMap>
    
    <resultMap id="BaseResultVoMap" type="com.env.web.vo.MonitoringDataVo">
        <id column="id" property="id" />
        <result column="site_id" property="siteId" />
        <result column="yinzi_id" property="yinziId" />
        <result column="yinzi_value" property="yinziValue" />
        <result column="serial_num" property="serialNum" />
        <result column="create_at" property="createAt" />
        <result column="state" property="state" />
        <result column="yinzi_name" property="yinziName" />
        <result column="yinzi_unit" property="yinziUnit" />
        <result column="site_name" property="siteName" />
        <result column="yinzi_num" property="yinziNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, site_id, yinzi_id, yinzi_value, serial_num, create_at, state
    </sql>
    
    <select id="statisticalTrenda" resultMap="BaseResultVoMap">
	    SELECT a.*,b.site_name,c.name yinzi_name,c.unit yinzi_unit,c.yinzi_num
		FROM monitoring_data a
		LEFT JOIN site_info b ON a.site_id = b.id
		LEFT JOIN yinzi_info c ON a.yinzi_id = c.id
		WHERE a.site_id = #{siteId}
		<if test="startDate != null and startDate != ''">
		AND a.create_at >= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
		AND a.create_at &lt;= #{endDate}
		</if>
		ORDER BY a.serial_num,a.yinzi_id
    </select>
    
    <select id="findId" resultType="java.lang.Integer">
        <if test="type == 0">
    	SELECT MAX(id) FROM monitoring_data 
    	</if>
    	<if test="type == 1">
    	SELECT MIN(id) FROM monitoring_data 
    	</if>
		WHERE site_id = #{siteId}
		<if test="startDate != null and startDate != ''">
		AND create_at >= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
		AND create_at &lt;= #{endDate}
		</if>
		GROUP BY serial_num
		<if test="type == 0">
		ORDER BY MAX(id) DESC
		</if>
		<if test="type == 1">
		ORDER BY MIN(id) DESC
		</if>
		LIMIT ${page},1
    </select>
    
    <select id="findIdA" resultType="java.lang.Integer">
        <if test="type == 0">
    	SELECT MAX(id) FROM monitoring_data 
    	</if>
    	<if test="type == 1">
    	SELECT MIN(id) FROM monitoring_data 
    	</if>
		WHERE site_id = #{siteId}
		<if test="startDate != null and startDate != ''">
		AND create_at >= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
		AND create_at &lt;= #{endDate}
		</if>
		GROUP BY serial_num
		<if test="type == 0">
		ORDER BY MAX(id) DESC
		</if>
		<if test="type == 1">
		ORDER BY MIN(id)
		</if>
		LIMIT 1
    </select>
    
    <select id="findCount" resultType="java.lang.Long">
        SELECT count(DISTINCT(serial_num)) FROM `monitoring_data` 
		WHERE site_id = #{siteId}
		<if test="startDate != null and startDate != ''">
		AND create_at >= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
		AND create_at &lt;= #{endDate}
		</if>
    </select>
    
    <select id="findHistory" resultMap="BaseResultVoMap">
	    SELECT a.*,b.site_name,c.name yinziName,c.unit yinziUnit,c.yinzi_num
		FROM monitoring_data a
		LEFT JOIN site_info b ON a.site_id = b.id
		LEFT JOIN yinzi_info c ON a.yinzi_id = c.id
		WHERE a.site_id = #{siteId}
		AND a.id between ${minId} AND ${maxId}
		ORDER BY a.id DESC
    </select>
    
</mapper>
