<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.env.web.mapper.ProjectInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.env.web.entity.ProjectInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="project_name" property="projectName" />
        <result column="project_desc" property="projectDesc" />
        <result column="project_address" property="projectAddress" />
        <result column="push_url" property="pushUrl" />
        <result column="state" property="state" />
        <result column="create_at" property="createAt" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, project_name, project_desc, project_address, push_url, state, create_at, create_user
    </sql>
    
    <select id="siteAlarm" resultType="int">
		SELECT COUNT(*) FROM alarm_info 
		WHERE YEARWEEK(DATE_FORMAT(add_time,'%Y-%m-%d'),1) = YEARWEEK(NOW(),7)
		AND alarm_type = 2
		AND site_id in(select id from site_info where project_id = #{projectId}) 
	</select>
	
	<select id="equipAlarm" resultType="int">
		SELECT COUNT(*) FROM alarm_info 
		WHERE YEARWEEK(DATE_FORMAT(add_time,'%Y-%m-%d'),1) = YEARWEEK(NOW(),7)
		AND alarm_type = 1
		AND site_id in(select id from site_info where project_id = #{projectId}) 
	</select>
	
	<select id="checkNum" resultType="int">
		SELECT COUNT(DISTINCT(serial_num)) FROM `monitoring_data` WHERE site_id in
		(SELECT id FROM site_info WHERE project_id = #{projectId}) 
		and YEARWEEK(DATE_FORMAT(create_at,'%Y-%m-%d'),1) = YEARWEEK(NOW(),7)
	</select>
	
	<select id="findListPage" resultType="com.env.web.vo.ProjectInfoVo">
    	SELECT a.*,b.actual_name createUserName
    	FROM project_info a 
    	left join user_info b on a.create_user = b.id
    	WHERE a.state != 1
    	<if test="project.projectName != null and project.projectName != ''">
		and a.project_name like CONCAT('%',#{project.projectName},'%')
		</if>
		<if test="project.projectAddress != null and project.projectAddress != ''">
		and a.project_address like CONCAT('%',#{project.projectAddress},'%')
		</if>
	</select>
	
	<insert id="addProject" keyProperty="id" useGeneratedKeys="true">
    	insert into project_info
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="userId != null">
	        user_id,
	      </if>
	      <if test="projectName != null">
	        project_name,
	      </if>
	      <if test="projectDesc != null">
	        project_desc,
	      </if>
	      <if test="projectAddress != null">
	        project_address,
	      </if>
	      <if test="pushUrl != null">
	        push_url,
	      </if>
	      <if test="createAt != null">
	        create_at,
	      </if>
	      <if test="createUser != null">
	        create_user,
	      </if>
	      <if test="state != null">
	        state,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="userId != null">
	        #{userId,jdbcType=VARCHAR},
	      </if>
	      <if test="projectName != null">
	        #{projectName,jdbcType=VARCHAR},
	      </if>
	      <if test="projectDesc != null">
	        #{projectDesc,jdbcType=VARCHAR},
	      </if>
	      <if test="projectAddress != null">
	        #{projectAddress,jdbcType=VARCHAR},
	      </if>
	      <if test="pushUrl != null">
	        #{pushUrl,jdbcType=VARCHAR},
	      </if>
	      <if test="createAt != null">
	        #{createAt,jdbcType=TIMESTAMP},
	      </if>
	      <if test="createUser != null">
	        #{createUser,jdbcType=INTEGER},
	      </if>
	      <if test="state != null">
	        #{state,jdbcType=INTEGER},
	      </if>
	    </trim>
	</insert>

</mapper>
