<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.env.web.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.env.web.entity.UserInfo">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="actual_name" property="actualName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="category" property="category" />
        <result column="project_id" property="projectId" />
        <result column="site_area" property="siteArea" />
        <result column="state" property="state" />
        <result column="backstage_role_list" property="backstageRoleList" />
        <result column="create_at" property="createAt" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, password, actual_name, mobile, email, category, project_id, site_area, state, backstage_role_list, create_at, create_user
    </sql>
    
    <select id="findListPage" resultType="com.env.web.vo.UserInfoVo">
    	SELECT * FROM user_info WHERE state != 1
    	and category = 3
    	<if test="userInfo.userName != null and userInfo.userName != ''">
		and user_name like CONCAT('%',#{userInfo.userName},'%')
		</if>
		<if test="userInfo.projectId != null and userInfo.projectId != 0">
			and project_id = #{userInfo.projectId}
		</if>
		<if test="userInfo.actualName != null and userInfo.actualName != ''">
		and actual_name like CONCAT('%',#{userInfo.actualName},'%')
		</if>
		<if test="userInfo.mobile != null and userInfo.mobile != ''">
		and mobile like CONCAT('%',#{userInfo.mobile},'%')
		</if>
		<if test="userInfo.email != null and userInfo.email != ''">
		and email like CONCAT('%',#{userInfo.email},'%')
		</if>
		<if test="userInfo.siteArea != null and userInfo.siteArea != ''">
		and FIND_IN_SET(site_area, #{userInfo.siteArea})
		</if>
		<if test="userInfo.backstageRoleList != null and userInfo.backstageRoleList != ''">
		and FIND_IN_SET(backstage_role_list, #{userInfo.backstageRoleList})
		</if>
	</select>
	
	<select id="getListByArea" resultMap = "BaseResultMap">
    	SELECT id,actual_name FROM user_info WHERE state = 0
		<if test="siteArea != null and siteArea != 0">
		and FIND_IN_SET(site_area, #{siteArea})
		</if>
	</select>

</mapper>
