<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.env.web.mapper.UserActionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.env.web.entity.UserActionLog">
        <id column="id" property="id" />
        <result column="table_name" property="tableName" />
        <result column="data_id" property="dataId" />
        <result column="origin_info" property="originInfo" />
        <result column="user_id" property="userId" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, table_name, data_id, origin_info, user_id, created_at
    </sql>

</mapper>
