<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.env.web.mapper.YinziInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.env.web.entity.YinziInfo">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="name" property="name" />
        <result column="unit" property="unit" />
        <result column="yinzi_num" property="yinziNum" />
        <result column="upper_limit_1" property="upperLimit1" />
        <result column="lower_limit_1" property="lowerLimit1" />
        <result column="upper_limit_2" property="upperLimit2" />
        <result column="lower_limit_2" property="lowerLimit2" />
        <result column="upper_limit_3" property="upperLimit3" />
        <result column="lower_limit_3" property="lowerLimit3" />
        <result column="upper_limit_4" property="upperLimit4" />
        <result column="lower_limit_4" property="lowerLimit4" />
        <result column="upper_limit_5" property="upperLimit5" />
        <result column="lower_limit_5" property="lowerLimit5" />
        <result column="state" property="state" />
        <result column="create_at" property="createAt" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, name, unit, yinzi_num, upper_limit_1, lower_limit_1, upper_limit_2, lower_limit_2, upper_limit_3, lower_limit_3, upper_limit_4, lower_limit_4, upper_limit_5, lower_limit_5, state, create_at, create_user
    </sql>
    
    <select id="findListPage" resultType="com.env.web.vo.YinziInfoVo">
    	SELECT * FROM yinzi_info WHERE state != 1
		<if test="yinzi.name != null and yinzi.name != ''">
		and name like CONCAT('%',#{yinzi.name},'%')
		</if>
		<if test="yinzi.yinziNum != null and yinzi.yinziNum != ''">
		and yinzi_num like CONCAT('%',#{yinzi.yinziNum},'%')
		</if>
		<if test="yinzi.projectId != null and yinzi.projectId != 0">
		and project_id = #{yinzi.projectId}
		</if>
	</select>

</mapper>
